In [1]:
import pandas

In [5]:
dataset = {"alu" : ["Luisa", "Wendy", "Mary"], "num" : [3, 1, 2]}
#type(dataset)
var = pandas.DataFrame(dataset)
#type(var)
print(var)

     alu  num
0  Luisa    3
1  Wendy    1
2   Mary    2

In [2]:
import pandas as pd

In [8]:
dataset = {"alu" : ["Luisa", "Wendy", "Mary"], "num" : [3, 1, 2]}
var = pd.DataFrame(dataset)
print(var)

     alu  num
0  Luisa    3
1  Wendy    1
2   Mary    2

In [8]:
# Comentario :)
# Series: arreglo unidimensional
nombres = ["Luisa", "Wendy", "Mary"]
var = pd.Series(nombres)
print(var)

0    Luisa
1    Wendy
2     Mary
dtype: object

In [12]:
type(var)

pandas.core.series.Series

In [4]:
print(var[1])

Wendy

In [13]:
#Indexando Series
#nombres = ["Luisa", "Wendy", "Mary"]
var = pd.Series(nombres, index = [3, 1, 2])
#var = pd.Series(nombres, index = {"i", "j", "z"})
print(var)

3    Luisa
1    Wendy
2     Mary
dtype: object

In [16]:
print(var[3]) #print(var["i"])

Luisa

In [17]:
#Dict (llave valor) como Serires
alturas = {"Luisa":170, "Wendy":165, "Mary":164}
var = pd.Series(alturas)
print(var)

Luisa    170
Wendy    165
Mary     164
dtype: int64

In [18]:
type(var)

pandas.core.series.Series

In [19]:
print(var["Luisa"])

170

In [20]:
#DataFrame Arreglo multidimensional (tabla)
#Creando un DataFrame apartir de dos Series
dataset = { "nombres" : ["Luisa", "Wendy", "Mary"],
            "alturas" : [170, 165, 164]}
var = pd.DataFrame(dataset)
print(var)

  nombres  alturas
0   Luisa      170
1   Wendy      165
2    Mary      164

In [21]:
#loc : regresa uno o más renglones
print(var.loc[0]) #localiza el renglón 0

nombres    Luisa
alturas      170
Name: 0, dtype: object

In [23]:
print(var.loc[[0,1]]) #localiza los renglones 0 y 1

  nombres  alturas
0   Luisa      170
1   Wendy      165

In [24]:
#indexando
df = pd.DataFrame(dataset, index = ["Uno", "Dos", "Tres"])
print(df)

     nombres  alturas
Uno    Luisa      170
Dos    Wendy      165
Tres    Mary      164

In [26]:
#Loc e índices
print(df.loc["Uno"])

nombres    Luisa
alturas      170
Name: Uno, dtype: object