In [ ]:
#Iniciando pandas

In [44]:
import pandas

In [45]:
dataset = {"alu" : ["Luisa", "Wendy", "Mary"], "num" : [3, 1, 2]}
#type(dataset)
var = pandas.DataFrame(dataset)
#type(var)
print(var)

     alu  num
0  Luisa    3
1  Wendy    1
2   Mary    2

In [46]:
import pandas as pd

In [47]:
dataset = {"alu" : ["Luisa", "Wendy", "Mary"], "num" : [3, 1, 2]}
var = pd.DataFrame(dataset)
print(var)

     alu  num
0  Luisa    3
1  Wendy    1
2   Mary    2

In [48]:
# Comentario :)
# Series: arreglo unidimensional
nombres = ["Luisa", "Wendy", "Mary"]
var = pd.Series(nombres)
print(var)

0    Luisa
1    Wendy
2     Mary
dtype: object

In [49]:
type(var)

pandas.core.series.Series

In [50]:
print(var[1])

Wendy

In [51]:
#Indexando Series
#nombres = ["Luisa", "Wendy", "Mary"]
var = pd.Series(nombres, index = [3, 1, 2])
#var = pd.Series(nombres, index = {"i", "j", "z"})
print(var)

3    Luisa
1    Wendy
2     Mary
dtype: object

In [52]:
print(var[3]) #print(var["i"])

Luisa

In [53]:
#Dict (llave valor) como Serires
alturas = {"Luisa":170, "Wendy":165, "Mary":164}
var = pd.Series(alturas)
print(var)

Luisa    170
Wendy    165
Mary     164
dtype: int64

In [54]:
type(var)

pandas.core.series.Series

In [55]:
print(var["Luisa"])

170

In [56]:
#DataFrame Arreglo multidimensional (tabla)
#Creando un DataFrame apartir de dos Series
dataset = { "nombres" : ["Luisa", "Wendy", "Mary"],
            "alturas" : [170, 165, 164]}
var = pd.DataFrame(dataset)
print(var)

  nombres  alturas
0   Luisa      170
1   Wendy      165
2    Mary      164

In [57]:
#loc : regresa uno o más renglones
print(var.loc[0]) #localiza el renglón 0

nombres    Luisa
alturas      170
Name: 0, dtype: object

In [58]:
print(var.loc[[0,1]]) #localiza los renglones 0 y 1

  nombres  alturas
0   Luisa      170
1   Wendy      165

In [59]:
#indexando
df = pd.DataFrame(dataset, index = ["Uno", "Dos", "Tres"])
print(df)

     nombres  alturas
Uno    Luisa      170
Dos    Wendy      165
Tres    Mary      164

In [60]:
#Loc e índices
print(df.loc["Uno"])

nombres    Luisa
alturas      170
Name: Uno, dtype: object

In [61]:
#Lectura desde un dataset CSV
ruta = "C:\\Users\\jmas_\\Jupyter\\Datasets\\"
df_csv = pd.read_csv(ruta+"titanic.csv")

In [62]:
type(df_csv)

pandas.core.frame.DataFrame

In [63]:
#Todo el archivo con to_string()
print(df_csv.to_string())

     survived  pclass     sex    age  sibsp  parch      fare embarked   class    who  adult_male deck  embark_town alive  alone
0           0       3    male  22.00      1      0    7.2500        S   Third    man        True  NaN  Southampton    no  False
1           1       1  female  38.00      1      0   71.2833        C   First  woman       False    C    Cherbourg   yes  False
2           1       3  female  26.00      0      0    7.9250        S   Third  woman       False  NaN  Southampton   yes   True
3           1       1  female  35.00      1      0   53.1000        S   First  woman       False    C  Southampton   yes  False
4           0       3    male  35.00      0      0    8.0500        S   Third    man        True  NaN  Southampton    no   True
5           0       3    male    NaN      0      0    8.4583        Q   Third    man        True  NaN   Queenstown    no   True
6           0       1    male  54.00      0      0   51.8625        S   First    man        True    E  Southampton    no   True
7           0       3    male   2.00      3      1   21.0750        S   Third  child       False  NaN  Southampton    no  False
8           1       3  female  27.00      0      2   11.1333        S   Third  woman       False  NaN  Southampton   yes  False
9           1       2  female  14.00      1      0   30.0708        C  Second  child       False  NaN    Cherbourg   yes  False
10          1       3  female   4.00      1      1   16.7000        S   Third  child       False    G  Southampton   yes  False
11          1       1  female  58.00      0      0   26.5500        S   First  woman       False    C  Southampton   yes   True
12          0       3    male  20.00      0      0    8.0500        S   Third    man        True  NaN  Southampton    no   True
13          0       3    male  39.00      1      5   31.2750        S   Third    man        True  NaN  Southampton    no  False
14          0       3  female  14.00      0      0    7.8542        S   Third  child       False  NaN  Southampton    no   True
15          1       2  female  55.00      0      0   16.0000        S  Second  woman       False  NaN  Southampton   yes   True
16          0       3    male   2.00      4      1   29.1250        Q   Third  child       False  NaN   Queenstown    no  False
17          1       2    male    NaN      0      0   13.0000        S  Second    man        True  NaN  Southampton   yes   True
18          0       3  female  31.00      1      0   18.0000        S   Third  woman       False  NaN  Southampton    no  False
19          1       3  female    NaN      0      0    7.2250        C   Third  woman       False  NaN    Cherbourg   yes   True
20          0       2    male  35.00      0      0   26.0000        S  Second    man        True  NaN  Southampton    no   True
21          1       2    male  34.00      0      0   13.0000        S  Second    man        True    D  Southampton   yes   True
22          1       3  female  15.00      0      0    8.0292        Q   Third  child       False  NaN   Queenstown   yes   True
23          1       1    male  28.00      0      0   35.5000        S   First    man        True    A  Southampton   yes   True
24          0       3  female   8.00      3      1   21.0750        S   Third  child       False  NaN  Southampton    no  False
25          1       3  female  38.00      1      5   31.3875        S   Third  woman       False  NaN  Southampton   yes  False
26          0       3    male    NaN      0      0    7.2250        C   Third    man        True  NaN    Cherbourg    no   True
27          0       1    male  19.00      3      2  263.0000        S   First    man        True    C  Southampton    no  False
28          1       3  female    NaN      0      0    7.8792        Q   Third  woman       False  NaN   Queenstown   yes   True
29          0       3    male    NaN      0      0    7.8958        S   Third    man        True  NaN  Southampton    no   True
30          0       1    male  40.00      0      0   27.7208        C   First    man        True  NaN    Cherbourg    no   True
31          1       1  female    NaN      1      0  146.5208        C   First  woman       False    B    Cherbourg   yes  False
32          1       3  female    NaN      0      0    7.7500        Q   Third  woman       False  NaN   Queenstown   yes   True
33          0       2    male  66.00      0      0   10.5000        S  Second    man        True  NaN  Southampton    no   True
34          0       1    male  28.00      1      0   82.1708        C   First    man        True  NaN    Cherbourg    no  False
35          0       1    male  42.00      1      0   52.0000        S   First    man        True  NaN  Southampton    no  False
36          1       3    male    NaN      0      0    7.2292        C   Third    man        True  NaN    Cherbourg   yes   True
37          0       3    male  21.00      0      0    8.0500        S   Third    man        True  NaN  Southampton    no   True
38          0       3  female  18.00      2      0   18.0000        S   Third  woman       False  NaN  Southampton    no  False
39          1       3  female  14.00      1      0   11.2417        C   Third  child       False  NaN    Cherbourg   yes  False
40          0       3  female  40.00      1      0    9.4750        S   Third  woman       False  NaN  Southampton    no  False
41          0       2  female  27.00      1      0   21.0000        S  Second  woman       False  NaN  Southampton    no  False
42          0       3    male    NaN      0      0    7.8958        C   Third    man        True  NaN    Cherbourg    no   True
43          1       2  female   3.00      1      2   41.5792        C  Second  child       False  NaN    Cherbourg   yes  False
44          1       3  female  19.00      0      0    7.8792        Q   Third  woman       False  NaN   Queenstown   yes   True
45          0       3    male    NaN      0      0    8.0500        S   Third    man        True  NaN  Southampton    no   True
46          0       3    male    NaN      1      0   15.5000        Q   Third    man        True  NaN   Queenstown    no  False
47          1       3  female    NaN      0      0    7.7500        Q   Third  woman       False  NaN   Queenstown   yes   True
48          0       3    male    NaN      2      0   21.6792        C   Third    man        True  NaN    Cherbourg    no  False
49          0       3  female  18.00      1      0   17.8000        S   Third  woman       False  NaN  Southampton    no  False
50          0       3    male   7.00      4      1   39.6875        S   Third  child       False  NaN  Southampton    no  False
51          0       3    male  21.00      0      0    7.8000        S   Third    man        True  NaN  Southampton    no   True
52          1       1  female  49.00      1      0   76.7292        C   First  woman       False    D    Cherbourg   yes  False
53          1       2  female  29.00      1      0   26.0000        S  Second  woman       False  NaN  Southampton   yes  False
54          0       1    male  65.00      0      1   61.9792        C   First    man        True    B    Cherbourg    no  False
55          1       1    male    NaN      0      0   35.5000        S   First    man        True    C  Southampton   yes   True
56          1       2  female  21.00      0      0   10.5000        S  Second  woman       False  NaN  Southampton   yes   True
57          0       3    male  28.50      0      0    7.2292        C   Third    man        True  NaN    Cherbourg    no   True
58          1       2  female   5.00      1      2   27.7500        S  Second  child       False  NaN  Southampton   yes  False
59          0       3    male  11.00      5      2   46.9000        S   Third  child       False  NaN  Southampton    no  False
60          0       3    male  22.00      0      0    7.2292        C   Third    man        True  NaN    Cherbourg    no   True
61          1       1  female  38.00      0      0   80.0000      NaN   First  woman       False    B          NaN   yes   True
62          0       1    male  45.00      1      0   83.4750        S   First    man        True    C  Southampton    no  False
63          0       3    male   4.00      3      2   27.9000        S   Third  child       False  NaN  Southampton    no  False
64          0       1    male    NaN      0      0   27.7208        C   First    man        True  NaN    Cherbourg    no   True
65          1       3    male    NaN      1      1   15.2458        C   Third    man        True  NaN    Cherbourg   yes  False
66          1       2  female  29.00      0      0   10.5000        S  Second  woman       False    F  Southampton   yes   True
67          0       3    male  19.00      0      0    8.1583        S   Third    man        True  NaN  Southampton    no   True
68          1       3  female  17.00      4      2    7.9250        S   Third  woman       False  NaN  Southampton   yes  False
69          0       3    male  26.00      2      0    8.6625        S   Third    man        True  NaN  Southampton    no  False
70          0       2    male  32.00      0      0   10.5000        S  Second    man        True  NaN  Southampton    no   True
71          0       3  female  16.00      5      2   46.9000        S   Third  woman       False  NaN  Southampton    no  False
72          0       2    male  21.00      0      0   73.5000        S  Second    man        True  NaN  Southampton    no   True
73          0       3    male  26.00      1      0   14.4542        C   Third    man        True  NaN    Cherbourg    no  False
74          1       3    male  32.00      0      0   56.4958        S   Third    man        True  NaN  Southampton   yes   True
75          0       3    male  25.00      0      0    7.6500        S   Third    man        True    F  Southampton    no   True
76          0       3    male    NaN      0      0    7.8958        S   Third    man        True  NaN  Southampton    no   True
77          0       3    male    NaN      0      0    8.0500        S   Third    man        True  NaN  Southampton    no   True
78          1       2    male   0.83      0      2   29.0000        S  Second  child       False  NaN  Southampton   yes  False
79          1       3  female  30.00      0      0   12.4750        S   Third  woman       False  NaN  Southampton   yes   True
80          0       3    male  22.00      0      0    9.0000        S   Third    man        True  NaN  Southampton    no   True
81          1       3    male  29.00      0      0    9.5000        S   Third    man        True  NaN  Southampton   yes   True
82          1       3  female    NaN      0      0    7.7875        Q   Third  woman       False  NaN   Queenstown   yes   True
83          0       1    male  28.00      0      0   47.1000        S   First    man        True  NaN  Southampton    no   True
84          1       2  female  17.00      0      0   10.5000        S  Second  woman       False  NaN  Southampton   yes   True
85          1       3  female  33.00      3      0   15.8500        S   Third  woman       False  NaN  Southampton   yes  False
86          0       3    male  16.00      1      3   34.3750        S   Third    man        True  NaN  Southampton    no  False
87          0       3    male    NaN      0      0    8.0500        S   Third    man        True  NaN  Southampton    no   True
88          1       1  female  23.00      3      2  263.0000        S   First  woman       False    C  Southampton   yes  False
89          0       3    male  24.00      0      0    8.0500        S   Third    man        True  NaN  Southampton    no   True
90          0       3    male  29.00      0      0    8.0500        S   Third    man        True  NaN  Southampton    no   True
91          0       3    male  20.00      0      0    7.8542        S   Third    man        True  NaN  Southampton    no   True
92          0       1    male  46.00      1      0   61.1750        S   First    man        True    E  Southampton    no  False
93          0       3    male  26.00      1      2   20.5750        S   Third    man        True  NaN  Southampton    no  False
94          0       3    male  59.00      0      0    7.2500        S   Third    man        True  NaN  Southampton    no   True
95          0       3    male    NaN      0      0    8.0500        S   Third    man        True  NaN  Southampton    no   True
96          0       1    male  71.00      0      0   34.6542        C   First    man        True    A    Cherbourg    no   True
97          1       1    male  23.00      0      1   63.3583        C   First    man        True    D    Cherbourg   yes  False
98          1       2  female  34.00      0      1   23.0000        S  Second  woman       False  NaN  Southampton   yes  False
99          0       2    male  34.00      1      0   26.0000        S  Second    man        True  NaN  Southampton    no  False
100         0       3  female  28.00      0      0    7.8958        S   Third  woman       False  NaN  Southampton    no   True
101         0       3    male    NaN      0      0    7.8958        S   Third    man        True  NaN  Southampton    no   True
102         0       1    male  21.00      0      1   77.2875        S   First    man        True    D  Southampton    no  False
103         0       3    male  33.00      0      0    8.6542        S   Third    man        True  NaN  Southampton    no   True
104         0       3    male  37.00      2      0    7.9250        S   Third    man        True  NaN  Southampton    no  False
105         0       3    male  28.00      0      0    7.8958        S   Third    man        True  NaN  Southampton    no   True
106         1       3  female  21.00      0      0    7.6500        S   Third  woman       False  NaN  Southampton   yes   True
107         1       3    male    NaN      0      0    7.7750        S   Third    man        True  NaN  Southampton   yes   True
108         0       3    male  38.00      0      0    7.8958        S   Third    man        True  NaN  Southampton    no   True
109         1       3  female    NaN      1      0   24.1500        Q   Third  woman       False  NaN   Queenstown   yes  False
110         0       1    male  47.00      0      0   52.0000        S   First    man        True    C  Southampton    no   True
111         0       3  female  14.50      1      0   14.4542        C   Third  child       False  NaN    Cherbourg    no  False
112         0       3    male  22.00      0      0    8.0500        S   Third    man        True  NaN  Southampton    no   True
113         0       3  female  20.00      1      0    9.8250        S   Third  woman       False  NaN  Southampton    no  False
114         0       3  female  17.00      0      0   14.4583        C   Third  woman       False  NaN    Cherbourg    no   True
115         0       3    male  21.00      0      0    7.9250        S   Third    man        True  NaN  Southampton    no   True
116         0       3    male  70.50      0      0    7.7500        Q   Third    man        True  NaN   Queenstown    no   True
117         0       2    male  29.00      1      0   21.0000        S  Second    man        True  NaN  Southampton    no  False
118         0       1    male  24.00      0      1  247.5208        C   First    man        True    B    Cherbourg    no  False
119         0       3  female   2.00      4      2   31.2750        S   Third  child       False  NaN  Southampton    no  False
120         0       2    male  21.00      2      0   73.5000        S  Second    man        True  NaN  Southampton    no  False
121         0       3    male    NaN      0      0    8.0500        S   Third    man        True  NaN  Southampton    no   True
122         0       2    male  32.50      1      0   30.0708        C  Second    man        True  NaN    Cherbourg    no  False
123         1       2  female  32.50      0      0   13.0000        S  Second  woman       False    E  Southampton   yes   True
124         0       1    male  54.00      0      1   77.2875        S   First    man        True    D  Southampton    no  False
125         1       3    male  12.00      1      0   11.2417        C   Third  child       False  NaN    Cherbourg   yes  False
126         0       3    male    NaN      0      0    7.7500        Q   Third    man        True  NaN   Queenstown    no   True
127         1       3    male  24.00      0      0    7.1417        S   Third    man        True  NaN  Southampton   yes   True
128         1       3  female    NaN      1      1   22.3583        C   Third  woman       False    F    Cherbourg   yes  False
129         0       3    male  45.00      0      0    6.9750        S   Third    man        True  NaN  Southampton    no   True
130         0       3    male  33.00      0      0    7.8958        C   Third    man        True  NaN    Cherbourg    no   True
131         0       3    male  20.00      0      0    7.0500        S   Third    man        True  NaN  Southampton    no   True
132         0       3  female  47.00      1      0   14.5000        S   Third  woman       False  NaN  Southampton    no  False
133         1       2  female  29.00      1      0   26.0000        S  Second  woman       False  NaN  Southampton   yes  False
134         0       2    male  25.00      0      0   13.0000        S  Second    man        True  NaN  Southampton    no   True
135         0       2    male  23.00      0      0   15.0458        C  Second    man        True  NaN    Cherbourg    no   True
136         1       1  female  19.00      0      2   26.2833        S   First  woman       False    D  Southampton   yes  False
137         0       1    male  37.00      1      0   53.1000        S   First    man        True    C  Southampton    no  False
138         0       3    male  16.00      0      0    9.2167        S   Third    man        True  NaN  Southampton    no   True
139         0       1    male  24.00      0      0   79.2000        C   First    man        True    B    Cherbourg    no   True
140         0       3  female    NaN      0      2   15.2458        C   Third  woman       False  NaN    Cherbourg    no  False
141         1       3  female  22.00      0      0    7.7500        S   Third  woman       False  NaN  Southampton   yes   True
142         1       3  female  24.00      1      0   15.8500        S   Third  woman       False  NaN  Southampton   yes  False
143         0       3    male  19.00      0      0    6.7500        Q   Third    man        True  NaN   Queenstown    no   True
144         0       2    male  18.00      0      0   11.5000        S  Second    man        True  NaN  Southampton    no   True
145         0       2    male  19.00      1      1   36.7500        S  Second    man        True  NaN  Southampton    no  False
146         1       3    male  27.00      0      0    7.7958        S   Third    man        True  NaN  Southampton   yes   True
147         0       3  female   9.00      2      2   34.3750        S   Third  child       False  NaN  Southampton    no  False
148         0       2    male  36.50      0      2   26.0000        S  Second    man        True    F  Southampton    no  False
149         0       2    male  42.00      0      0   13.0000        S  Second    man        True  NaN  Southampton    no   True
150         0       2    male  51.00      0      0   12.5250        S  Second    man        True  NaN  Southampton    no   True
151         1       1  female  22.00      1      0   66.6000        S   First  woman       False    C  Southampton   yes  False
152         0       3    male  55.50      0      0    8.0500        S   Third    man        True  NaN  Southampton    no   True
153         0       3    male  40.50      0      2   14.5000        S   Third    man        True  NaN  Southampton    no  False
154         0       3    male    NaN      0      0    7.3125        S   Third    man        True  NaN  Southampton    no   True

In [64]:
print (df_csv)

     survived  pclass     sex   age  sibsp  parch     fare embarked   class  \
0           0       3    male  22.0      1      0   7.2500        S   Third
1           1       1  female  38.0      1      0  71.2833        C   First
2           1       3  female  26.0      0      0   7.9250        S   Third
3           1       1  female  35.0      1      0  53.1000        S   First
4           0       3    male  35.0      0      0   8.0500        S   Third
..        ...     ...     ...   ...    ...    ...      ...      ...     ...
886         0       2    male  27.0      0      0  13.0000        S  Second
887         1       1  female  19.0      0      0  30.0000        S   First
888         0       3  female   NaN      1      2  23.4500        S   Third
889         1       1    male  26.0      0      0  30.0000        C   First
890         0       3    male  32.0      0      0   7.7500        Q   Third

       who  adult_male deck  embark_town alive  alone
0      man        True  NaN  Southampton    no  False
1    woman       False    C    Cherbourg   yes  False
2    woman       False  NaN  Southampton   yes   True
3    woman       False    C  Southampton   yes  False
4      man        True  NaN  Southampton    no   True
..     ...         ...  ...          ...   ...    ...
886    man        True  NaN  Southampton    no   True
887  woman       False    B  Southampton   yes   True
888  woman       False  NaN  Southampton    no  False
889    man        True    C    Cherbourg   yes   True
890    man        True  NaN   Queenstown    no   True

[891 rows x 15 columns]

In [65]:
#Dataframe y JSON
#Equivalente JSON = Dict
#df_json = pd.read_json(ruta+"data.json") "NO ESTA EL ARCHIVO"
#print(df_jason.to_string())

In [66]:
#Analizando la información
df = pd.read_csv(ruta+"titanic.csv")
print(df.head(10))

   survived  pclass     sex   age  sibsp  parch     fare embarked   class  \
0         0       3    male  22.0      1      0   7.2500        S   Third
1         1       1  female  38.0      1      0  71.2833        C   First
2         1       3  female  26.0      0      0   7.9250        S   Third
3         1       1  female  35.0      1      0  53.1000        S   First
4         0       3    male  35.0      0      0   8.0500        S   Third
5         0       3    male   NaN      0      0   8.4583        Q   Third
6         0       1    male  54.0      0      0  51.8625        S   First
7         0       3    male   2.0      3      1  21.0750        S   Third
8         1       3  female  27.0      0      2  11.1333        S   Third
9         1       2  female  14.0      1      0  30.0708        C  Second

     who  adult_male deck  embark_town alive  alone
0    man        True  NaN  Southampton    no  False
1  woman       False    C    Cherbourg   yes  False
2  woman       False  NaN  Southampton   yes   True
3  woman       False    C  Southampton   yes  False
4    man        True  NaN  Southampton    no   True
5    man        True  NaN   Queenstown    no   True
6    man        True    E  Southampton    no   True
7  child       False  NaN  Southampton    no  False
8  woman       False  NaN  Southampton   yes  False
9  child       False  NaN    Cherbourg   yes  False

In [67]:
print(df_csv.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    object
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    object
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), float64(2), int64(4), object(7)
memory usage: 92.4+ KB
None

In [68]:
print(df.tail())

     survived  pclass     sex   age  sibsp  parch   fare embarked   class  \
886         0       2    male  27.0      0      0  13.00        S  Second
887         1       1  female  19.0      0      0  30.00        S   First
888         0       3  female   NaN      1      2  23.45        S   Third
889         1       1    male  26.0      0      0  30.00        C   First
890         0       3    male  32.0      0      0   7.75        Q   Third

       who  adult_male deck  embark_town alive  alone
886    man        True  NaN  Southampton    no   True
887  woman       False    B  Southampton   yes   True
888  woman       False  NaN  Southampton    no  False
889    man        True    C    Cherbourg   yes   True
890    man        True  NaN   Queenstown    no   True

In [69]:
#Limpieza de datos: datos vacíos, duplicados, datos y formato equivoacdo
#revisar la información df
#Datos vacíos- eliminar renglón
df_notNan = df.dropna() #Sobre el DF original df.dropna(inplace = True)
print(df_notNan.to_string())

     survived  pclass     sex    age  sibsp  parch      fare embarked   class    who  adult_male deck  embark_town alive  alone
1           1       1  female  38.00      1      0   71.2833        C   First  woman       False    C    Cherbourg   yes  False
3           1       1  female  35.00      1      0   53.1000        S   First  woman       False    C  Southampton   yes  False
6           0       1    male  54.00      0      0   51.8625        S   First    man        True    E  Southampton    no   True
10          1       3  female   4.00      1      1   16.7000        S   Third  child       False    G  Southampton   yes  False
11          1       1  female  58.00      0      0   26.5500        S   First  woman       False    C  Southampton   yes   True
21          1       2    male  34.00      0      0   13.0000        S  Second    man        True    D  Southampton   yes   True
23          1       1    male  28.00      0      0   35.5000        S   First    man        True    A  Southampton   yes   True
27          0       1    male  19.00      3      2  263.0000        S   First    man        True    C  Southampton    no  False
52          1       1  female  49.00      1      0   76.7292        C   First  woman       False    D    Cherbourg   yes  False
54          0       1    male  65.00      0      1   61.9792        C   First    man        True    B    Cherbourg    no  False
62          0       1    male  45.00      1      0   83.4750        S   First    man        True    C  Southampton    no  False
66          1       2  female  29.00      0      0   10.5000        S  Second  woman       False    F  Southampton   yes   True
75          0       3    male  25.00      0      0    7.6500        S   Third    man        True    F  Southampton    no   True
88          1       1  female  23.00      3      2  263.0000        S   First  woman       False    C  Southampton   yes  False
92          0       1    male  46.00      1      0   61.1750        S   First    man        True    E  Southampton    no  False
96          0       1    male  71.00      0      0   34.6542        C   First    man        True    A    Cherbourg    no   True
97          1       1    male  23.00      0      1   63.3583        C   First    man        True    D    Cherbourg   yes  False
102         0       1    male  21.00      0      1   77.2875        S   First    man        True    D  Southampton    no  False
110         0       1    male  47.00      0      0   52.0000        S   First    man        True    C  Southampton    no   True
118         0       1    male  24.00      0      1  247.5208        C   First    man        True    B    Cherbourg    no  False
123         1       2  female  32.50      0      0   13.0000        S  Second  woman       False    E  Southampton   yes   True
124         0       1    male  54.00      0      1   77.2875        S   First    man        True    D  Southampton    no  False
136         1       1  female  19.00      0      2   26.2833        S   First  woman       False    D  Southampton   yes  False
137         0       1    male  37.00      1      0   53.1000        S   First    man        True    C  Southampton    no  False
139         0       1    male  24.00      0      0   79.2000        C   First    man        True    B    Cherbourg    no   True
148         0       2    male  36.50      0      2   26.0000        S  Second    man        True    F  Southampton    no  False
151         1       1  female  22.00      1      0   66.6000        S   First  woman       False    C  Southampton   yes  False
170         0       1    male  61.00      0      0   33.5000        S   First    man        True    B  Southampton    no   True
174         0       1    male  56.00      0      0   30.6958        C   First    man        True    A    Cherbourg    no   True
177         0       1  female  50.00      0      0   28.7125        C   First  woman       False    C    Cherbourg    no   True
183         1       2    male   1.00      2      1   39.0000        S  Second  child       False    F  Southampton   yes  False
193         1       2    male   3.00      1      1   26.0000        S  Second  child       False    F  Southampton   yes  False
194         1       1  female  44.00      0      0   27.7208        C   First  woman       False    B    Cherbourg   yes   True
195         1       1  female  58.00      0      0  146.5208        C   First  woman       False    B    Cherbourg   yes   True
205         0       3  female   2.00      0      1   10.4625        S   Third  child       False    G  Southampton    no  False
209         1       1    male  40.00      0      0   31.0000        C   First    man        True    A    Cherbourg   yes   True
215         1       1  female  31.00      1      0  113.2750        C   First  woman       False    D    Cherbourg   yes  False
218         1       1  female  32.00      0      0   76.2917        C   First  woman       False    D    Cherbourg   yes   True
224         1       1    male  38.00      1      0   90.0000        S   First    man        True    C  Southampton   yes  False
230         1       1  female  35.00      1      0   83.4750        S   First  woman       False    C  Southampton   yes  False
245         0       1    male  44.00      2      0   90.0000        Q   First    man        True    C   Queenstown    no  False
248         1       1    male  37.00      1      1   52.5542        S   First    man        True    D  Southampton   yes  False
251         0       3  female  29.00      1      1   10.4625        S   Third  woman       False    G  Southampton    no  False
252         0       1    male  62.00      0      0   26.5500        S   First    man        True    C  Southampton    no   True
257         1       1  female  30.00      0      0   86.5000        S   First  woman       False    B  Southampton   yes   True
262         0       1    male  52.00      1      1   79.6500        S   First    man        True    E  Southampton    no  False
263         0       1    male  40.00      0      0    0.0000        S   First    man        True    B  Southampton    no   True
268         1       1  female  58.00      0      1  153.4625        S   First  woman       False    C  Southampton   yes  False
269         1       1  female  35.00      0      0  135.6333        S   First  woman       False    C  Southampton   yes   True
273         0       1    male  37.00      0      1   29.7000        C   First    man        True    C    Cherbourg    no  False
275         1       1  female  63.00      1      0   77.9583        S   First  woman       False    D  Southampton   yes  False
291         1       1  female  19.00      1      0   91.0792        C   First  woman       False    B    Cherbourg   yes  False
292         0       2    male  36.00      0      0   12.8750        C  Second    man        True    D    Cherbourg    no   True
297         0       1  female   2.00      1      2  151.5500        S   First  child       False    C  Southampton    no  False
299         1       1  female  50.00      0      1  247.5208        C   First  woman       False    B    Cherbourg   yes  False
305         1       1    male   0.92      1      2  151.5500        S   First  child       False    C  Southampton   yes  False
307         1       1  female  17.00      1      0  108.9000        C   First  woman       False    C    Cherbourg   yes  False
309         1       1  female  30.00      0      0   56.9292        C   First  woman       False    E    Cherbourg   yes   True
310         1       1  female  24.00      0      0   83.1583        C   First  woman       False    C    Cherbourg   yes   True
311         1       1  female  18.00      2      2  262.3750        C   First  woman       False    B    Cherbourg   yes  False
318         1       1  female  31.00      0      2  164.8667        S   First  woman       False    C  Southampton   yes  False
319         1       1  female  40.00      1      1  134.5000        C   First  woman       False    E    Cherbourg   yes  False
325         1       1  female  36.00      0      0  135.6333        C   First  woman       False    C    Cherbourg   yes   True
327         1       2  female  36.00      0      0   13.0000        S  Second  woman       False    D  Southampton   yes   True
329         1       1  female  16.00      0      1   57.9792        C   First  woman       False    B    Cherbourg   yes  False
331         0       1    male  45.50      0      0   28.5000        S   First    man        True    C  Southampton    no   True
332         0       1    male  38.00      0      1  153.4625        S   First    man        True    C  Southampton    no  False
336         0       1    male  29.00      1      0   66.6000        S   First    man        True    C  Southampton    no  False
337         1       1  female  41.00      0      0  134.5000        C   First  woman       False    E    Cherbourg   yes   True
340         1       2    male   2.00      1      1   26.0000        S  Second  child       False    F  Southampton   yes  False
341         1       1  female  24.00      3      2  263.0000        S   First  woman       False    C  Southampton   yes  False
345         1       2  female  24.00      0      0   13.0000        S  Second  woman       False    F  Southampton   yes   True
356         1       1  female  22.00      0      1   55.0000        S   First  woman       False    E  Southampton   yes  False
366         1       1  female  60.00      1      0   75.2500        C   First  woman       False    D    Cherbourg   yes  False
369         1       1  female  24.00      0      0   69.3000        C   First  woman       False    B    Cherbourg   yes   True
370         1       1    male  25.00      1      0   55.4417        C   First    man        True    E    Cherbourg   yes  False
377         0       1    male  27.00      0      2  211.5000        C   First    man        True    C    Cherbourg    no  False
390         1       1    male  36.00      1      2  120.0000        S   First    man        True    B  Southampton   yes  False
393         1       1  female  23.00      1      0  113.2750        C   First  woman       False    D    Cherbourg   yes  False
394         1       3  female  24.00      0      2   16.7000        S   Third  woman       False    G  Southampton   yes  False
412         1       1  female  33.00      1      0   90.0000        Q   First  woman       False    C   Queenstown   yes  False
429         1       3    male  32.00      0      0    8.0500        S   Third    man        True    E  Southampton   yes   True
430         1       1    male  28.00      0      0   26.5500        S   First    man        True    C  Southampton   yes   True
434         0       1    male  50.00      1      0   55.9000        S   First    man        True    E  Southampton    no  False
435         1       1  female  14.00      1      2  120.0000        S   First  child       False    B  Southampton   yes  False
438         0       1    male  64.00      1      4  263.0000        S   First    man        True    C  Southampton    no  False
445         1       1    male   4.00      0      2   81.8583        S   First  child       False    A  Southampton   yes  False
449         1       1    male  52.00      0      0   30.5000        S   First    man        True    C  Southampton   yes   True
452         0       1    male  30.00      0      0   27.7500        C   First    man        True    C    Cherbourg    no   True
453         1       1    male  49.00      1      0   89.1042        C   First    man        True    C    Cherbourg   yes  False
456         0       1    male  65.00      0      0   26.5500        S   First    man        True    E  Southampton    no   True
460         1       1    male  48.00      0      0   26.5500        S   First    man        True    E  Southampton   yes   True
462         0       1    male  47.00      0      0   38.5000        S   First    man        True    E  Southampton    no   True
473         1       2  female  23.00      0      0   13.7917        C  Second  woman       False    D    Cherbourg   yes   True
484         1       1    male  25.00      1      0   91.0792        C   First    man        True    B    Cherbourg   yes  False
486         1       1  female  35.00      1      0   90.0000        S   First  woman       False    C  Southampton   yes  False
487         0       1    male  58.00      0      0   29.7000        C   First    man        True    B    Cherbourg    no   True
492         0       1    male  55.00      0      0   30.5000        S   First    man        True    C  Southampton    no   True
496         1       1  female  54.00      1      0   78.2667        C   First  woman       False    D    Cherbourg   yes  False
498         0       1  female  25.00      1      2  151.5500        S   First  woman       False    C  Southampton    no  False
504         1       1  female  16.00      0      0   86.5000        S   First  woman       False    B  Southampton   yes   True
505         0       1    male  18.00      1      0  108.9000        C   First    man        True    C    Cherbourg    no  False
512         1       1    male  36.00      0      0   26.2875        S   First    man        True    E  Southampton   yes   True
515         0       1    male  47.00      0      0   34.0208        S   First    man        True    D  Southampton    no   True
516         1       2  female  34.00      0      0   10.5000        S  Second  woman       False    F  Southampton   yes   True
520         1       1  female  30.00      0      0   93.5000        S   First  woman       False    B  Southampton   yes   True
523         1       1  female  44.00      0      1   57.9792        C   First  woman       False    B    Cherbourg   yes  False
536         0       1    male  45.00      0      0   26.5500        S   First    man        True    B  Southampton    no   True
539         1       1  female  22.00      0      2   49.5000        C   First  woman       False    B    Cherbourg   yes  False
540         1       1  female  36.00      0      2   71.0000        S   First  woman       False    B  Southampton   yes  False
544         0       1    male  50.00      1      0  106.4250        C   First    man        True    C    Cherbourg    no  False
550         1       1    male  17.00      0      2  110.8833        C   First    man        True    C    Cherbourg   yes  False
556         1       1  female  48.00      1      0   39.6000        C   First  woman       False    A    Cherbourg   yes  False
558         1       1  female  39.00      1      1   79.6500        S   First  woman       False    E  Southampton   yes  False
571         1       1  female  53.00      2      0   51.4792        S   First  woman       False    C  Southampton   yes  False
572         1       1    male  36.00      0      0   26.3875        S   First    man        True    E  Southampton   yes   True
577         1       1  female  39.00      1      0   55.9000        S   First  woman       False    E  Southampton   yes  False
581         1       1  female  39.00      1      1  110.8833        C   First  woman       False    C    Cherbourg   yes  False
583         0       1    male  36.00      0      0   40.1250        C   First    man        True    A    Cherbourg    no   True
585         1       1  female  18.00      0      2   79.6500        S   First  woman       False    E  Southampton   yes  False
587         1       1    male  60.00      1      1   79.2000        C   First    man        True    B    Cherbourg   yes  False
591         1       1  female  52.00      1      0   78.2667        C   First  woman       False    D    Cherbourg   yes  False
599         1       1    male  49.00      1      0   56.9292        C   First    man        True    A    Cherbourg   yes  False
609         1       1  female  40.00      0      0  153.4625        S   First  woman       False    C  Southampton   yes   True
618         1       2  female   4.00      2      1   39.0000        S  Second  child       False    F  Southampton   yes  False
621         1       1    male  42.00      1      0   52.5542        S   First    man        True    D  Southampton   yes  False
625         0       1    male  61.00      0      0   32.3208        S   First    man        True    D  Southampton    no   True
627         1       1  female  21.00      0      0   77.9583        S   First  woman       False    D  Southampton   yes   True
630         1       1    male  80.00      0      0   30.0000        S   First    man        True    A  Southampton   yes   True
632         1       1    male  32.00      0      0   30.5000        C   First    man        True    B    Cherbourg   yes   True
641         1       1  female  24.00      0      0   69.3000        C   First  woman       False    B    Cherbourg   yes   True
645         1       1    male  48.00      1      0   76.7292        C   First    man        True    D    Cherbourg   yes  False
647         1       1    male  56.00      0      0   35.5000        C   First    man        True    A    Cherbourg   yes   True
659         0       1    male  58.00      0      2  113.2750        C   First    man        True    D    Cherbourg    no  False
662         0       1    male  47.00      0      0   25.5875        S   First    man        True    E  Southampton    no   True
671         0       1    male  31.00      1      0   52.0000        S   First    man        True    B  Southampton    no  False
679         1       1    male  36.00      0      1  512.3292        C   First    man        True    B    Cherbourg   yes  False
681         1       1    male  27.00      0      0   76.7292        C   First    man        True    D    Cherbourg   yes   True
689         1       1  female  15.00      0      1  211.3375        S   First  child       False    B  Southampton   yes  False
690         1       1    male  31.00      1      0   57.0000        S   First    man        True    B  Southampton   yes  False
698         0       1    male  49.00      1      1  110.8833        C   First    man        True    C    Cherbourg    no  False
699         0       3    male  42.00      0      0    7.6500        S   Third    man        True    F  Southampton    no   True
700         1       1  female  18.00      1      0  227.5250        C   First  woman       False    C    Cherbourg   yes  False
701         1       1    male  35.00      0      0   26.2875        S   First    man        True    E  Southampton   yes   True
707         1       1    male  42.00      0      0   26.2875        S   First    man        True    E  Southampton   yes   True
710         1       1  female  24.00      0      0   49.5042        C   First  woman       False    C    Cherbourg   yes   True
712         1       1    male  48.00      1      0   52.0000        S   First    man        True    C  Southampton   yes  False
715         0       3    male  19.00      0      0    7.6500        S   Third    man        True    F  Southampton    no   True
716         1       1  female  38.00      0      0  227.5250        C   First  woman       False    C    Cherbourg   yes   True
717         1       2  female  27.00      0      0   10.5000        S  Second  woman       False    E  Southampton   yes   True
724         1       1    male  27.00      1      0   53.1000        S   First    man        True    E  Southampton   yes  False
730         1       1  female  29.00      0      0  211.3375        S   First  woman       False    B  Southampton   yes   True
737         1       1    male  35.00      0      0  512.3292        C   First    man        True    B    Cherbourg   yes   True
741         0       1    male  36.00      1      0   78.8500        S   First    man        True    C  Southampton    no  False
742         1       1  female  21.00      2      2  262.3750        C   First  woman       False    B    Cherbourg   yes  False

In [70]:
#Rellena valores vacíos
#fillna() reemplaza la celda vacía con un valor
df.fillna(-1, inplace = True)

In [71]:
print(df.to_string())

     survived  pclass     sex    age  sibsp  parch      fare embarked   class    who  adult_male deck  embark_town alive  alone
0           0       3    male  22.00      1      0    7.2500        S   Third    man        True   -1  Southampton    no  False
1           1       1  female  38.00      1      0   71.2833        C   First  woman       False    C    Cherbourg   yes  False
2           1       3  female  26.00      0      0    7.9250        S   Third  woman       False   -1  Southampton   yes   True
3           1       1  female  35.00      1      0   53.1000        S   First  woman       False    C  Southampton   yes  False
4           0       3    male  35.00      0      0    8.0500        S   Third    man        True   -1  Southampton    no   True
5           0       3    male  -1.00      0      0    8.4583        Q   Third    man        True   -1   Queenstown    no   True
6           0       1    male  54.00      0      0   51.8625        S   First    man        True    E  Southampton    no   True
7           0       3    male   2.00      3      1   21.0750        S   Third  child       False   -1  Southampton    no  False
8           1       3  female  27.00      0      2   11.1333        S   Third  woman       False   -1  Southampton   yes  False
9           1       2  female  14.00      1      0   30.0708        C  Second  child       False   -1    Cherbourg   yes  False
10          1       3  female   4.00      1      1   16.7000        S   Third  child       False    G  Southampton   yes  False
11          1       1  female  58.00      0      0   26.5500        S   First  woman       False    C  Southampton   yes   True
12          0       3    male  20.00      0      0    8.0500        S   Third    man        True   -1  Southampton    no   True
13          0       3    male  39.00      1      5   31.2750        S   Third    man        True   -1  Southampton    no  False
14          0       3  female  14.00      0      0    7.8542        S   Third  child       False   -1  Southampton    no   True
15          1       2  female  55.00      0      0   16.0000        S  Second  woman       False   -1  Southampton   yes   True
16          0       3    male   2.00      4      1   29.1250        Q   Third  child       False   -1   Queenstown    no  False
17          1       2    male  -1.00      0      0   13.0000        S  Second    man        True   -1  Southampton   yes   True
18          0       3  female  31.00      1      0   18.0000        S   Third  woman       False   -1  Southampton    no  False
19          1       3  female  -1.00      0      0    7.2250        C   Third  woman       False   -1    Cherbourg   yes   True
20          0       2    male  35.00      0      0   26.0000        S  Second    man        True   -1  Southampton    no   True
21          1       2    male  34.00      0      0   13.0000        S  Second    man        True    D  Southampton   yes   True
22          1       3  female  15.00      0      0    8.0292        Q   Third  child       False   -1   Queenstown   yes   True
23          1       1    male  28.00      0      0   35.5000        S   First    man        True    A  Southampton   yes   True
24          0       3  female   8.00      3      1   21.0750        S   Third  child       False   -1  Southampton    no  False
25          1       3  female  38.00      1      5   31.3875        S   Third  woman       False   -1  Southampton   yes  False
26          0       3    male  -1.00      0      0    7.2250        C   Third    man        True   -1    Cherbourg    no   True
27          0       1    male  19.00      3      2  263.0000        S   First    man        True    C  Southampton    no  False
28          1       3  female  -1.00      0      0    7.8792        Q   Third  woman       False   -1   Queenstown   yes   True
29          0       3    male  -1.00      0      0    7.8958        S   Third    man        True   -1  Southampton    no   True
30          0       1    male  40.00      0      0   27.7208        C   First    man        True   -1    Cherbourg    no   True
31          1       1  female  -1.00      1      0  146.5208        C   First  woman       False    B    Cherbourg   yes  False
32          1       3  female  -1.00      0      0    7.7500        Q   Third  woman       False   -1   Queenstown   yes   True
33          0       2    male  66.00      0      0   10.5000        S  Second    man        True   -1  Southampton    no   True
34          0       1    male  28.00      1      0   82.1708        C   First    man        True   -1    Cherbourg    no  False
35          0       1    male  42.00      1      0   52.0000        S   First    man        True   -1  Southampton    no  False
36          1       3    male  -1.00      0      0    7.2292        C   Third    man        True   -1    Cherbourg   yes   True
37          0       3    male  21.00      0      0    8.0500        S   Third    man        True   -1  Southampton    no   True
38          0       3  female  18.00      2      0   18.0000        S   Third  woman       False   -1  Southampton    no  False
39          1       3  female  14.00      1      0   11.2417        C   Third  child       False   -1    Cherbourg   yes  False
40          0       3  female  40.00      1      0    9.4750        S   Third  woman       False   -1  Southampton    no  False
41          0       2  female  27.00      1      0   21.0000        S  Second  woman       False   -1  Southampton    no  False
42          0       3    male  -1.00      0      0    7.8958        C   Third    man        True   -1    Cherbourg    no   True
43          1       2  female   3.00      1      2   41.5792        C  Second  child       False   -1    Cherbourg   yes  False
44          1       3  female  19.00      0      0    7.8792        Q   Third  woman       False   -1   Queenstown   yes   True
45          0       3    male  -1.00      0      0    8.0500        S   Third    man        True   -1  Southampton    no   True
46          0       3    male  -1.00      1      0   15.5000        Q   Third    man        True   -1   Queenstown    no  False
47          1       3  female  -1.00      0      0    7.7500        Q   Third  woman       False   -1   Queenstown   yes   True
48          0       3    male  -1.00      2      0   21.6792        C   Third    man        True   -1    Cherbourg    no  False
49          0       3  female  18.00      1      0   17.8000        S   Third  woman       False   -1  Southampton    no  False
50          0       3    male   7.00      4      1   39.6875        S   Third  child       False   -1  Southampton    no  False
51          0       3    male  21.00      0      0    7.8000        S   Third    man        True   -1  Southampton    no   True
52          1       1  female  49.00      1      0   76.7292        C   First  woman       False    D    Cherbourg   yes  False
53          1       2  female  29.00      1      0   26.0000        S  Second  woman       False   -1  Southampton   yes  False
54          0       1    male  65.00      0      1   61.9792        C   First    man        True    B    Cherbourg    no  False
55          1       1    male  -1.00      0      0   35.5000        S   First    man        True    C  Southampton   yes   True
56          1       2  female  21.00      0      0   10.5000        S  Second  woman       False   -1  Southampton   yes   True
57          0       3    male  28.50      0      0    7.2292        C   Third    man        True   -1    Cherbourg    no   True
58          1       2  female   5.00      1      2   27.7500        S  Second  child       False   -1  Southampton   yes  False
59          0       3    male  11.00      5      2   46.9000        S   Third  child       False   -1  Southampton    no  False
60          0       3    male  22.00      0      0    7.2292        C   Third    man        True   -1    Cherbourg    no   True
61          1       1  female  38.00      0      0   80.0000       -1   First  woman       False    B           -1   yes   True
62          0       1    male  45.00      1      0   83.4750        S   First    man        True    C  Southampton    no  False
63          0       3    male   4.00      3      2   27.9000        S   Third  child       False   -1  Southampton    no  False
64          0       1    male  -1.00      0      0   27.7208        C   First    man        True   -1    Cherbourg    no   True
65          1       3    male  -1.00      1      1   15.2458        C   Third    man        True   -1    Cherbourg   yes  False
66          1       2  female  29.00      0      0   10.5000        S  Second  woman       False    F  Southampton   yes   True
67          0       3    male  19.00      0      0    8.1583        S   Third    man        True   -1  Southampton    no   True
68          1       3  female  17.00      4      2    7.9250        S   Third  woman       False   -1  Southampton   yes  False
69          0       3    male  26.00      2      0    8.6625        S   Third    man        True   -1  Southampton    no  False
70          0       2    male  32.00      0      0   10.5000        S  Second    man        True   -1  Southampton    no   True
71          0       3  female  16.00      5      2   46.9000        S   Third  woman       False   -1  Southampton    no  False
72          0       2    male  21.00      0      0   73.5000        S  Second    man        True   -1  Southampton    no   True
73          0       3    male  26.00      1      0   14.4542        C   Third    man        True   -1    Cherbourg    no  False
74          1       3    male  32.00      0      0   56.4958        S   Third    man        True   -1  Southampton   yes   True
75          0       3    male  25.00      0      0    7.6500        S   Third    man        True    F  Southampton    no   True
76          0       3    male  -1.00      0      0    7.8958        S   Third    man        True   -1  Southampton    no   True
77          0       3    male  -1.00      0      0    8.0500        S   Third    man        True   -1  Southampton    no   True
78          1       2    male   0.83      0      2   29.0000        S  Second  child       False   -1  Southampton   yes  False
79          1       3  female  30.00      0      0   12.4750        S   Third  woman       False   -1  Southampton   yes   True
80          0       3    male  22.00      0      0    9.0000        S   Third    man        True   -1  Southampton    no   True
81          1       3    male  29.00      0      0    9.5000        S   Third    man        True   -1  Southampton   yes   True
82          1       3  female  -1.00      0      0    7.7875        Q   Third  woman       False   -1   Queenstown   yes   True
83          0       1    male  28.00      0      0   47.1000        S   First    man        True   -1  Southampton    no   True
84          1       2  female  17.00      0      0   10.5000        S  Second  woman       False   -1  Southampton   yes   True
85          1       3  female  33.00      3      0   15.8500        S   Third  woman       False   -1  Southampton   yes  False
86          0       3    male  16.00      1      3   34.3750        S   Third    man        True   -1  Southampton    no  False
87          0       3    male  -1.00      0      0    8.0500        S   Third    man        True   -1  Southampton    no   True
88          1       1  female  23.00      3      2  263.0000        S   First  woman       False    C  Southampton   yes  False
89          0       3    male  24.00      0      0    8.0500        S   Third    man        True   -1  Southampton    no   True
90          0       3    male  29.00      0      0    8.0500        S   Third    man        True   -1  Southampton    no   True
91          0       3    male  20.00      0      0    7.8542        S   Third    man        True   -1  Southampton    no   True
92          0       1    male  46.00      1      0   61.1750        S   First    man        True    E  Southampton    no  False
93          0       3    male  26.00      1      2   20.5750        S   Third    man        True   -1  Southampton    no  False
94          0       3    male  59.00      0      0    7.2500        S   Third    man        True   -1  Southampton    no   True
95          0       3    male  -1.00      0      0    8.0500        S   Third    man        True   -1  Southampton    no   True
96          0       1    male  71.00      0      0   34.6542        C   First    man        True    A    Cherbourg    no   True
97          1       1    male  23.00      0      1   63.3583        C   First    man        True    D    Cherbourg   yes  False
98          1       2  female  34.00      0      1   23.0000        S  Second  woman       False   -1  Southampton   yes  False
99          0       2    male  34.00      1      0   26.0000        S  Second    man        True   -1  Southampton    no  False
100         0       3  female  28.00      0      0    7.8958        S   Third  woman       False   -1  Southampton    no   True
101         0       3    male  -1.00      0      0    7.8958        S   Third    man        True   -1  Southampton    no   True
102         0       1    male  21.00      0      1   77.2875        S   First    man        True    D  Southampton    no  False
103         0       3    male  33.00      0      0    8.6542        S   Third    man        True   -1  Southampton    no   True
104         0       3    male  37.00      2      0    7.9250        S   Third    man        True   -1  Southampton    no  False
105         0       3    male  28.00      0      0    7.8958        S   Third    man        True   -1  Southampton    no   True
106         1       3  female  21.00      0      0    7.6500        S   Third  woman       False   -1  Southampton   yes   True
107         1       3    male  -1.00      0      0    7.7750        S   Third    man        True   -1  Southampton   yes   True
108         0       3    male  38.00      0      0    7.8958        S   Third    man        True   -1  Southampton    no   True
109         1       3  female  -1.00      1      0   24.1500        Q   Third  woman       False   -1   Queenstown   yes  False
110         0       1    male  47.00      0      0   52.0000        S   First    man        True    C  Southampton    no   True
111         0       3  female  14.50      1      0   14.4542        C   Third  child       False   -1    Cherbourg    no  False
112         0       3    male  22.00      0      0    8.0500        S   Third    man        True   -1  Southampton    no   True
113         0       3  female  20.00      1      0    9.8250        S   Third  woman       False   -1  Southampton    no  False
114         0       3  female  17.00      0      0   14.4583        C   Third  woman       False   -1    Cherbourg    no   True
115         0       3    male  21.00      0      0    7.9250        S   Third    man        True   -1  Southampton    no   True
116         0       3    male  70.50      0      0    7.7500        Q   Third    man        True   -1   Queenstown    no   True
117         0       2    male  29.00      1      0   21.0000        S  Second    man        True   -1  Southampton    no  False
118         0       1    male  24.00      0      1  247.5208        C   First    man        True    B    Cherbourg    no  False
119         0       3  female   2.00      4      2   31.2750        S   Third  child       False   -1  Southampton    no  False
120         0       2    male  21.00      2      0   73.5000        S  Second    man        True   -1  Southampton    no  False
121         0       3    male  -1.00      0      0    8.0500        S   Third    man        True   -1  Southampton    no   True
122         0       2    male  32.50      1      0   30.0708        C  Second    man        True   -1    Cherbourg    no  False
123         1       2  female  32.50      0      0   13.0000        S  Second  woman       False    E  Southampton   yes   True
124         0       1    male  54.00      0      1   77.2875        S   First    man        True    D  Southampton    no  False
125         1       3    male  12.00      1      0   11.2417        C   Third  child       False   -1    Cherbourg   yes  False
126         0       3    male  -1.00      0      0    7.7500        Q   Third    man        True   -1   Queenstown    no   True
127         1       3    male  24.00      0      0    7.1417        S   Third    man        True   -1  Southampton   yes   True
128         1       3  female  -1.00      1      1   22.3583        C   Third  woman       False    F    Cherbourg   yes  False
129         0       3    male  45.00      0      0    6.9750        S   Third    man        True   -1  Southampton    no   True
130         0       3    male  33.00      0      0    7.8958        C   Third    man        True   -1    Cherbourg    no   True
131         0       3    male  20.00      0      0    7.0500        S   Third    man        True   -1  Southampton    no   True
132         0       3  female  47.00      1      0   14.5000        S   Third  woman       False   -1  Southampton    no  False
133         1       2  female  29.00      1      0   26.0000        S  Second  woman       False   -1  Southampton   yes  False
134         0       2    male  25.00      0      0   13.0000        S  Second    man        True   -1  Southampton    no   True
135         0       2    male  23.00      0      0   15.0458        C  Second    man        True   -1    Cherbourg    no   True
136         1       1  female  19.00      0      2   26.2833        S   First  woman       False    D  Southampton   yes  False
137         0       1    male  37.00      1      0   53.1000        S   First    man        True    C  Southampton    no  False
138         0       3    male  16.00      0      0    9.2167        S   Third    man        True   -1  Southampton    no   True
139         0       1    male  24.00      0      0   79.2000        C   First    man        True    B    Cherbourg    no   True
140         0       3  female  -1.00      0      2   15.2458        C   Third  woman       False   -1    Cherbourg    no  False
141         1       3  female  22.00      0      0    7.7500        S   Third  woman       False   -1  Southampton   yes   True
142         1       3  female  24.00      1      0   15.8500        S   Third  woman       False   -1  Southampton   yes  False
143         0       3    male  19.00      0      0    6.7500        Q   Third    man        True   -1   Queenstown    no   True
144         0       2    male  18.00      0      0   11.5000        S  Second    man        True   -1  Southampton    no   True
145         0       2    male  19.00      1      1   36.7500        S  Second    man        True   -1  Southampton    no  False
146         1       3    male  27.00      0      0    7.7958        S   Third    man        True   -1  Southampton   yes   True
147         0       3  female   9.00      2      2   34.3750        S   Third  child       False   -1  Southampton    no  False
148         0       2    male  36.50      0      2   26.0000        S  Second    man        True    F  Southampton    no  False
149         0       2    male  42.00      0      0   13.0000        S  Second    man        True   -1  Southampton    no   True
150         0       2    male  51.00      0      0   12.5250        S  Second    man        True   -1  Southampton    no   True
151         1       1  female  22.00      1      0   66.6000        S   First  woman       False    C  Southampton   yes  False
152         0       3    male  55.50      0      0    8.0500        S   Third    man        True   -1  Southampton    no   True
153         0       3    male  40.50      0      2   14.5000        S   Third    man        True   -1  Southampton    no  False
154         0       3    male  -1.00      0      0    7.3125        S   Third    man        True   -1  Southampton    no   True

890         0       3    male  32.00      0      0    7.7500        Q   Third    man        True   -1   Queenstown    no   True

In [72]:
#Seleccionando columnas
df["age"].fillna(0, inplace=True)

In [73]:
#Remplazando los datos o celdas vacías con la media
#Media promedio de una serie de valores
m = df["age"].mean()
df["age"].fillna(m, inplace=True)

In [74]:
#Mediana : valor medio de una serie de valores ordenados
m = df["age"].median()
df["age"].fillna(m, inplace = True)

In [75]:
#Moda : valor más popular de uan serie de valores
m = df["age"].mode()[0]
#print(m)
#df["age"].fillna(m, inplace=True)

In [76]:
#Lectura desde un dataset CSV
ruta = "C:\\Users\\jmas_\\Jupyter\\Datasets\\"
df = pd.read_csv(ruta+"titanic.csv")

In [77]:
#Datos equivocados
#titanic : clases: 1, 2, 3 <- valores permitidos. Valor equivocado: 0, 4, 5, etc.
#Para modificar un registro: registro 1
#df.loc[1, "pclass"] = 3
#Para modificar toda la columna
for i in df.index:
    if df.loc[i, "pclass"] > 3 or df.loc[i, "pclass"] < 1:
        if df.loc[i, "class"] == "Third":
            df.loc[i, "pclass"] = 3
        elif df.loc[i, "class"] == "Second":
            df.loc[i, "pclass"] = 2
        elif df.loc[i, "class"] == "First":
            df.loc[i, "pclass"] = 1

In [78]:
print(df)

     survived  pclass     sex   age  sibsp  parch     fare embarked   class  \
0           0       3    male  22.0      1      0   7.2500        S   Third
1           1       1  female  38.0      1      0  71.2833        C   First
2           1       3  female  26.0      0      0   7.9250        S   Third
3           1       1  female  35.0      1      0  53.1000        S   First
4           0       3    male  35.0      0      0   8.0500        S   Third
..        ...     ...     ...   ...    ...    ...      ...      ...     ...
886         0       2    male  27.0      0      0  13.0000        S  Second
887         1       1  female  19.0      0      0  30.0000        S   First
888         0       3  female   NaN      1      2  23.4500        S   Third
889         1       1    male  26.0      0      0  30.0000        C   First
890         0       3    male  32.0      0      0   7.7500        Q   Third

       who  adult_male deck  embark_town alive  alone
0      man        True  NaN  Southampton    no  False
1    woman       False    C    Cherbourg   yes  False
2    woman       False  NaN  Southampton   yes   True
3    woman       False    C  Southampton   yes  False
4      man        True  NaN  Southampton    no   True
..     ...         ...  ...          ...   ...    ...
886    man        True  NaN  Southampton    no   True
887  woman       False    B  Southampton   yes   True
888  woman       False  NaN  Southampton    no  False
889    man        True    C    Cherbourg   yes   True
890    man        True  NaN   Queenstown    no   True

[891 rows x 15 columns]

In [80]:
#Para borrar datos equivocados y eliminar el renglon completo
for i in df.index:
    if df.loc[i, "age"] > 100.0:
        print(i)
        df.drop(i, inplace = "True")

In [81]:
#Para eliminar renglones duplicados
print(df.duplicated())

0      False
1      False
2      False
3      False
4      False
       ...
886     True
887    False
888    False
889    False
890    False
Length: 891, dtype: bool

In [82]:
#Para eliminar duplicados
df.drop_duplicates(inplace = True)

In [83]:
print(df)

     survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0           0       3    male  22.0      1      0   7.2500        S  Third
1           1       1  female  38.0      1      0  71.2833        C  First
2           1       3  female  26.0      0      0   7.9250        S  Third
3           1       1  female  35.0      1      0  53.1000        S  First
4           0       3    male  35.0      0      0   8.0500        S  Third
..        ...     ...     ...   ...    ...    ...      ...      ...    ...
885         0       3  female  39.0      0      5  29.1250        Q  Third
887         1       1  female  19.0      0      0  30.0000        S  First
888         0       3  female   NaN      1      2  23.4500        S  Third
889         1       1    male  26.0      0      0  30.0000        C  First
890         0       3    male  32.0      0      0   7.7500        Q  Third

       who  adult_male deck  embark_town alive  alone
0      man        True  NaN  Southampton    no  False
1    woman       False    C    Cherbourg   yes  False
2    woman       False  NaN  Southampton   yes   True
3    woman       False    C  Southampton   yes  False
4      man        True  NaN  Southampton    no   True
..     ...         ...  ...          ...   ...    ...
885  woman       False  NaN   Queenstown    no  False
887  woman       False    B  Southampton   yes   True
888  woman       False  NaN  Southampton    no  False
889    man        True    C    Cherbourg   yes   True
890    man        True  NaN   Queenstown    no   True

[784 rows x 15 columns]

In [84]:
#Fase 2. Encontrar relaciones en la información (correlacionar)
#Metodo corr() : calcula la relacion entre columnas.
#Valores -1.0 a 1.0
# Relacion perfecta : 1.0000, Buena relacion : 0.90000
# Mala relacion : 0.000291 <- significa
df.corr()

,survived,pclass,age,sibsp,parch,fare,adult_male,alone
survived,1.000000,-0.332658,-0.086548,-0.036589,0.070307,0.246769,-0.528502,-0.176595
pclass,-0.332658,1.000000,-0.369361,0.088014,0.040296,-0.549216,0.066816,0.109545
age,-0.086548,-0.369361,1.000000,-0.315116,-0.195036,0.092707,0.296095,0.210047
sibsp,-0.036589,0.088014,-0.315116,1.000000,0.381433,0.135147,-0.274521,-0.609502
parch,0.070307,0.040296,-0.195036,0.381433,1.000000,0.191942,-0.347186,-0.571087
fare,0.246769,-0.549216,0.092707,0.135147,0.191942,1.000000,-0.165209,-0.246619
adult_male,-0.528502,0.066816,0.296095,-0.274521,-0.347186,-0.165209,1.000000,0.387850
alone,-0.176595,0.109545,0.210047,-0.609502,-0.571087,-0.246619,0.387850,1.000000

In [ ]:
#Fase 3: Graficar
#Matplotlib, pyplot